.conteneur{
    align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  background-color: antiquewhite;
  

}

 .conteneur-G {
    margin-left: 110px;
}

.conteneur-D{
    margin-left: 110px;
}

img { 
    max-height: 500px;
}
.categories {
   
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;            /* Full viewport height */
    border: 1px solid black;  /* Just for visualization */
    flex-direction: column;   /* Stack items vertically */
    
}

.typecate {
    display: flex;
    justify-content: center;  /* Center horizontally */
    margin: 10px;             /* Just for visualization */
}

.images {
    padding: 60px;
}

.test {
    display: flex;
    gap: 73em;
}








.logo {
    height: 200px;
    
}



