@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/HomePage.css">
</head>



<body>
    <div class="conteneur">
        <div class="conteneur-G">
            <h1> Define your character here</h1>

            <p>je ne savais quil y a pas fu char bia. <br>JEic aujoud ca fait de bonne persoone.</p>


        </div>
        <div class="conteneur-D">
            <section class="image-slider">
                <div class="arrow-left">
                    <i class="fas fa-arrow-left">&larr;</i>
                </div>
                <div class="flecheD">&rarr;</div>
                <img class="log" src="/photos/anime.png" alt="logo">
            </section>
        </div>
    </div>

    <div class="categories">
        <div class="test">
            <div class="typecate">

                <h2>Catégories</h2>
            </div>
            <div class="test">
                <button type="button">Acheter ici</button>
            </div>
        </div>

        <div class="typecate">
            <div class="images"><img class="logo" src="/photos/naruto.jpg" alt="logo"><p>Chandail</p></div>

            <div class="images"><img class="logo" src="/photos/naruto.jpg" alt="logo"><p>Pantalons</p></div>

            <div class="images"><img class="logo" src="/photos/naruto.jpg" alt="logo"><p>Chapeau</p></div>

            <div class="images"><img class="logo" src="/photos/naruto.jpg" alt="logo"><p>Avenir</p></div>

        </div>



    </div>


</body>

<footer>
    <p>Tous droits réservés 2024</p>
</footer>
</html>