@model IEnumerable<ClothingStore.Models.Categorie>
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("Page_Accueil")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Page_Test.css">
</head>
<body>

    <ul>
    
   
    
        <li><a class="" asp-area="" asp-controller="Clothes" asp-action="Create">bruh</a></li>
        <li><a class="" asp-area="" asp-controller="Categories" asp-action="Create">bruh2</a></li>
        </ul>
    @foreach(var clothe in Model)
    {
       <p> @clothe.NomCategorie </p>

        @foreach(var item in clothe.clothes)
        {
            <p>@item.ClotheName</p>
        }


    }
</body>
</html>